
@charset "UTF-8";
/********************
¡MIXINS
********************/


/********************
¡CLASSES
********************/

.profilePic {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.profileTextBox {
  clear:both;
  text-align: center;
}

.button-link {
  background-color: #ADD8E6;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.button-link:hover{
  background-color:#8AADB8;
}

.button-link:active{
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.6);
  background-color: #7C9CA6;
}
/**
* Floats
*/


/*------------------------------------*\
              ¡TYPOGRAPHY
\*------------------------------------*/


/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  /*background: #FFF;*/
  /*background-image: url(../images/Sea-green-blur-background1.jpg);*/
  background-image: url(../images/Light-Blue-blur-background1.jpg);
  color: #494949;
  font-family: sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
  min-height: 100%;
  position: relative;
}

header {
  border-bottom: solid 1px #CCC;
  height: 100px;
  margin: 0 0 10px;
}
  header h1 {
    line-height: 100px;
  }



/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/


/*------------------------------------*\
                ¡NAV
\*------------------------------------*/


/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/
