h1 {
  color:red;
  text-align: center;
  font-size: 45px;
}
h2 {
  color:red;
  text-align: center;
  font-size: 30px;
}
p {
  color:red;
  text-align: center;
  font-size: 12px;
}
ul {
  color:red;
  text-align: center;
  font-size: 12px;
  list-style-position: inside;
}
