<div class="box-wrap clear">
  {{#each feed}}
    <div class="box">
      <img src="{{this.images.standard_resolution.url}}" alt="">
      <div class="group-btn clear">
        <button class="btn accent-1 pull--left">{{this.likes.count}} likes</button>
        <button class="btn accent-1 pull--right">{{this.comments.count}} comments</button>
      </div>
    </div>
  {{/each}}
</div>
