<nav>
  <a href="/index">Home</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/profile">Profile</a>
  <a href="/saved-searches">Saved Searches</a>
  <form id="searchbar" action="/search">
    <input type="text" size="25" maxlength="150" class = "search-text"><input type="submit" class="search-button" value="Search">
  </form>
</nav>
