<div class="wrap">
  <header class = "gp-header">
    <div class="gp-squeeze">
      <h1 class= "pull--left">Profile</h1>
      <h4 class ="pull--right"> welcome {{user.full_name}}! </h4>
    </div>
  </header>
  <div class="nav-wrap">
    <div class="gp-squeeze">
      {{>menu}}
    </div>
  </div>
<div class="content">
<div class="profilePic">
  <img src={{user.profile_picture}} alt="Profile Picture" ></img>
</div>
<div class="profileTextBox">
  <p><input type="text" value="<NAME>" readonly /></p>
  <p><input type="text" value="<USERNAME>" readonly /></p>
  <p><input type="text" id="email" value="user@domain.tld" /></p>
  <p><textarea rows="4" cols="50" type="text" id="bio">Bio</textarea></p>
  <input type="submit" class="button-link" value="SAVE" onclick="saveData()">
</div>
</div>
  <div class="push"></div>
</div>
<footer class = "gp-footer">
  <div class="gp-squeeze">
    <h4>Footer</h4>
  </div>
</footer>
