<div class="wrap">
  <header class = "gp-header">
    <div class="gp-squeeze">
      <h1 class= "pull--left">Saved Searches</h1>
      <h4 class ="pull--right"> welcome {{user}}! </h4>
    </div>
  </header>
  <div class="nav-wrap">
    <div class="gp-squeeze">
      {{>menu}}
    </div>
  </div>
</div>
<footer class = "gp-footer">
  <div class="gp-squeeze">
    <h4>Footer</h4>
  </div>
</footer>
