<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Instagram Testing</title>
    <link href="css\feed.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
